<% action_url = track.persisted? ? track_url(track) : tracks_url %>
<% http_method = track.persisted? ? "PATCH" : "POST" %>
<% button_text = track.persisted? ? "Edit Track" : "Create Track" %>


<form class='form' action="<%= action_url %>" method="POST" %>
  <input type="hidden" name="_method" value="<%= http_method %>">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <div>
        <label for='track-name'>Name</label>
        <input id='track-name' type="text" name="track[name]" value="<%= track.name %>">
    </div>

    <div>
        <label for='track-album'>Album</label>
        <select id='track-album' name="track[album_id]">
            <% Album.all.each do |album| %>
                <option
                    <%= "selected" if track.album_id == album.id %>
                    value="<%= album.id %>">
                    <%= album.title %>
                </option>
            <% end %>
        </select>
    </div>

    <div>
        <label>Ord
        <input type="number" name="track[ord]" value="<%= track.ord %>">
        </label>
    </div>

    <div>
        <label for="track_regular_t">Standard</label>
        <input
            type="radio"
            name="track[regular]"
            value="t"
            id="track_regular_t"
            <%= "checked" if track.regular %>>
        <br>
        <label for="track_regular_f">Bonus</label>
        <input
            type="radio"
            name="track[regular]"
            value="f"
            id="track_regular_f"
            <%= "checked" if !track.regular %>>
    </div>

    <div>
        <label for="track_lyrics">Lyrics</label><br>
        <textarea id="track_lyrics"
            rows="10" cols="40"
            name="track[lyrics]"><%= track.lyrics %></textarea>
    </div>

    <input type="submit" value="<%= button_text %>">
</form>
